@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --red: #ff342b;
  --dark-grey: #17191d;
  --grey: #1f242c;
  --light-grey: #c3cddd;
  --white: #fff;
  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-grey);
  font-family: var(--font-family);
}

.container,
.container-fluid {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

@media (max-width: 992px) {
  .container,
  .container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (max-width: 768px) {
  .container,
  .container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

